html {
  font-size: 62.5%;
}

body {
  background: $app-background-image;
  font-family: 'Open Sans';
  font-size: $m-size;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}