// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2.0rem;
$xl-size: 2.4rem;

// Colors
$blue: #3d88eb;

// Image
$app-background-image: linear-gradient(90deg, rgba(0,5,11,1) 0%, rgba(0,5,11,1) 25%, rgba(47,58,80,1) 50%, rgba(0,5,11,1) 75%, rgba(0,5,11,1) 100%);